In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("employee_pay_database/synthetic_employee_data.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'employee_pay_database/synthetic_employee_data.csv'

In [7]:
df.head(10)

        date   shift last_name first_name position      hours     pay
0 2024-05-13   LUNCH   Farrell     Nelson   Server   6.148852  160.48
1 2024-05-13  DINNER     Fahey      Chris   Server  11.908167  110.58
2 2024-05-13  DINNER       Doe       John     Host   9.226476  163.19
3 2024-05-13  DINNER     Smith       Jane     Host   9.579994  106.53
4 2024-05-14   LUNCH   Farrell     Nelson   Server   7.396900  167.69
5 2024-05-14   LUNCH     Fahey      Chris     Host  11.984654  188.97
6 2024-05-14   LUNCH       Doe       John     Host   6.368531  154.11
7 2024-05-14   LUNCH     Smith       Jane     Host  11.076060  125.08
8 2024-05-15  DINNER   Farrell     Nelson     Host   9.728047  132.86
9 2024-05-15   LUNCH     Fahey      Chris     Host   9.810532  162.45

In [4]:
start_date = pd.to_datetime("2024-05-13")
end_date = pd.to_datetime("2024-05-14")

In [5]:
df['date'] = pd.to_datetime(df['date'])
filtered_df = df[(df['date'] >= start_date) & (df['date'] <= end_date)]
grouped_df = filtered_df.groupby(['last_name', 'first_name'])[['pay', 'hours']].sum()
grouped_df['hours'] = grouped_df['hours'].round(2)
grouped_df.reset_index(inplace = True)

In [6]:
grouped_df

  last_name first_name     pay  hours
0       Doe       John  317.30  15.60
1     Fahey      Chris  299.55  23.89
2   Farrell     Nelson  328.17  13.55
3     Smith       Jane  231.61  20.66

In [5]:
x = np.array([2,2])
print(x[1])

2